<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        body{
            margin-left: 1in;
            margin-right: 1in;
            margin-bottom: 1in;
        }

        /* HEADER */
        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin-bottom: 30px;
        }

        .header-title {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 10px;
        }

        .header-text {
            text-align: center;
            margin: 0;
        }

        .header-text h1,
        .header-text h2 {
            font-weight: bold;
            font-size: 12px;
            margin: 0;
            padding: 0;
        }

        .header-logo-left img,
        .header-logo-right img {
            width: 115px;
            height: 115px;
        }

        .header-logo-left,
        .header-logo-right {
            display: flex;
            justify-content: center;
        }

        /* Media Query for Landscape Orientation */
        @media screen and (orientation: landscape) {
            .header {
                flex-direction: row;
                align-items: center;
            }

            .header-title {
                flex-direction: row;
                margin: 0;
            }

            .header-text {
                margin: 0 10px;
            }

            .photo-container img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
        }

        /* CONTAINER TITLE*/
        .container-title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }

        .title h1 {
            font-weight: bold;
            font-size: 12px;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .photo-container img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .row{
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <!-- HEADER -->
    <div class="header">
        <!-- LEFT LOGO -->
        <div class="header-logo-left">
            <img src="/images/Logo1.png" alt="Left Logo" class="img-fluid">
        </div>

        <!-- HEADER TEXTS -->
        <div class="header-title">
            <div class="header-text">
                <h2 class="text-center">Republic of the Philippines</h2>
            </div>
            <div class="header-text">
                <h2 class="text-center">Department of Justice</h2>
            </div>
            <div class="header-text">
                <h2 class="text-center">Bureau of Corrections</h2>
            </div>
            <div class="header-text">
                <h1 class="text-center" style="color: darkolivegreen;">CORRECTIONAL INSTITUTION FOR WOMEN</h1>
            </div>
            <div class="header-text">
                <h2 class="text-center">C.I.W Compound, 1550 Mandaluyong City</h2>
            </div>
            <div class="header-text">
                <h2 class="text-center">ciw_mandaluyong@yahoo.com | ciwctos@bucor.gov.ph</h2>
            </div>
            <div class="header-text">
                <h2 class="text-center">+63 (2) 8532-1736</h2>
            </div>

        </div>

        <!-- RIGHT LOGO -->
        <div class="header-logo-right">
            <img src="/images/Logo2.png" alt="Right Logo" class="img-fluid">
        </div>
    </div>

    <!-- TITLE -->
    <div class="container-title">
        <div class="title text-center">
            <h1>PERSONNEL INFORMATION</h1>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="content">

        <!-- FIRST ROW -->
        <div class="row">
            <!-- PHOTO -->
            <div class="photo-container mb-3">
                <% if (personnel.photo) { %>
                    <img src="<%= '/personnel/photo/' + personnel.id %>" alt="Employee Photo">
                <% } else { %>
                    <p>No Photo Available</p>
                <% } %>
            </div>
        </div>

        <!-- SECOND ROW -->
        <div class="row mb-5">
            <!-- EMPLOYEE NUMBER -->
            <div class="" style="font-size: 12px;">
                <label for="employeeNumber" class="form-label" style="font-weight: bold;">Employee Number: </label>
                <label class="form-label" id="employeeNumber"><%= personnel.employeeNumber %></label>
            </div>

            <!-- SPECIAL ORDER NUMBER -->
            <div class="" style="font-size: 12px;">
                <label for="specialOrderNumber" class="form-label" style="font-weight: bold;">BUCORDA Special Order Number: </label>
                <label class="form-label" id="specialOrderNumber"><%= personnel.specialOrderNumber %></label>
            </div>

             <!-- RANK -->
             <div class="" style="font-size: 12px;">
                <label for="rank" class="form-label" style="font-weight: bold;">Rank: </label>
                <label class="form-label" id="rank"><%= personnel.rank %></label>
            </div>

            <!-- CORE UNIT -->
            <div class="" style="font-size: 12px;">
                <label for="coreUnit" class="form-label" style="font-weight: bold;">Core Unit: </label>
                <label class="form-label" id="coreUnit"><%= personnel.coreUnit %></label>
            </div>

            <!-- PRE ASSIGNED -->
            <div class="" style="font-size: 12px;">
            <label class="form-label" style="font-weight: bold;">Pre-Assigned: </label>
            <label class="form-label" id="gender"><%= personnel.preAssigned %></label>
            </div>
        </div>

        <!-- THIRD ROW -->
        <div class="row">
             <!-- FIRST NAME -->
             <div class="col-sm-4" style="font-size: 12px;">
                <label for="firstName" class="form-label" style="font-weight: bold;">First Name: </label>
                <label class="form-label" id="firstName"><%= personnel.firstName %></label>
            </div>

            <!-- MIDDLE NAME -->
            <div class="col-sm-4" style="font-size: 12px;">
                <label for="middleName" class="form-label" style="font-weight: bold;">Middle Name: </label>
                <label class="form-label" id="middleName"><%= personnel.middleName %></label>
            </div>

            <!-- LAST NAME -->
            <div class="col-sm-4" style="font-size: 12px;">
                <label for="lastName" class="form-label" style="font-weight: bold;">Last Name: </label>
                <label class="form-label" id="lastName"><%= personnel.lastName %></label>
            </div>
        </div>

        <!-- FOURTH ROW -->
        <div class="row">
            <!-- GENDER -->
            <div class="col-sm-4" style="font-size: 12px;">
               <label class="form-label" style="font-weight: bold;">Gender: </label>
               <label class="form-label" id="gender"><%= personnel.gender %></label>
           </div>
   
           <!-- BIRTHDATE -->
           <div class="col-sm-4" style="font-size: 12px;">
               <label for="birthdate" class="form-label" style="font-weight: bold;">Birthdate: </label>
               <label class="form-label" id="birthdate"><%= personnel.birthdate.toISOString().split('T')[0] %></label>
           </div>
   
           <!-- AGE -->
           <div class="col-sm-4" style="font-size: 12px;">
               <label for="age" class="form-label" style="font-weight: bold;">Age: </label>
               <label class="form-label" id="age"><%= personnel.age %></label>
           </div>
       </div>
   
       <!-- FIFTH ROW -->
       <div class="row">
            <!-- MOBILE NUMBER -->
            <div class="col-sm-4" style="font-size: 12px;">
               <label for="mobileNumber" class="form-label" style="font-weight: bold;">Contact: </label>
               <label class="form-label" id="mobileNumber"><%= personnel.mobileNumber %></label>
           </div>
   
           <!-- EMAIL -->
           <div class="col-sm-4" style="font-size: 12px;">
               <label for="emailAddress" class="form-label" style="font-weight: bold;">Email: </label>
               <label class="form-label" id="emailAddress"><%= personnel.emailAddress %></label>
           </div>
       </div>
   
       <!-- SIXTH ROW -->
       <div class="row">
           <!-- CIVIL STATUS -->
           <div class="col-sm-4" style="font-size: 12px;">
               <label for="civilStatus" class="form-label" style="font-weight: bold;">Civil Status: </label>
               <label class="form-label" id="civilStatus"><%= personnel.civilStatus %></label>
           </div>
           
           <!-- DEGREE -->
           <div class="col-md-4" style="font-size: 12px;">
               <label for="degree" class="form-label" style="font-weight: bold;">Degree: </label>
               <label class="form-label" id="degree"><%= personnel.degree %></label>
           </div>
       </div>
   
       <!-- SEVENTH ROW-->
       <div class="row mb-5">
            <!-- ADDRESS -->
            <div class="col-lg-8" style="font-size: 12px;">
               <label for="homeAddress" class="form-label" style="font-weight: bold;">Address: </label>
               <label class="form-label" id="homeAddress"><%= personnel.homeAddress %></label>
           </div>
       </div>
   
       <!-- EIGHTH ROW -->
       <div class="row">
             <!-- ENTRANCE TO DUTY -->
             <div class="col-sm-4" style="font-size: 12px;">
               <label for="entranceToDutyDate" class="form-label" style="font-weight: bold;">Entrance to Duty: </label>
               <label class="form-label" id="entranceToDutyDate"><%= personnel.entranceToDutyDate ? personnel.entranceToDutyDate.toISOString().split('T')[0] : '' %></label>
           </div>
   
           <!-- ASSIGN TO CIW -->
           <div class="col-sm-4" style="font-size: 12px;">
               <label for="assignToCIWDate" class="form-label" style="font-weight: bold;">Assign to CIW: </label>
               <label class="form-label" id="assignToCIWDate"><%= personnel.assignToCIWDate ? personnel.assignToCIWDate.toISOString().split('T')[0] : '' %></label>
           </div>
       </div>
   
       <!-- NINETH ROW -->
       <div class="row">
            <!-- CONCURRENT -->
            <div class="col-sm-4" style="font-size: 12px;">
               <label for="concurrent" class="form-label" style="font-weight: bold;">Concurrent: </label>
               <label class="form-label" id="concurrent"><%= personnel.concurrent %></label>
           </div>
   
           <!-- REMARKS -->
           <div class="col-sm-4" style="font-size: 12px;">
               <label for="remarks" class="form-label" style="font-weight: bold;">Remarks: </label>
               <label class="form-label" id="remarks"><%= personnel.remarks %></label>
           </div>
       </div>   
    </div>

    <!-- FUNCTION FOR PRINTING-->
    <script>
        // Automatically trigger the print dialog when the page is loaded
        window.onload = function() {
            window.print();
        };
    
        // Close the print preview window when the user clicks on the page
        document.addEventListener("click", function() {
            window.close();
        });
    </script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
